:root {
	--aqua-haze: #d0e2e1;
	--black: #000;
	--white: #fff;

	--flame-30: #f6b7a7;
	--flame-50: #ef8166;
	--flame-70: #ea5d3a;
	--flame-100: #e84b24;
	--flame-120: #ba3c1d;

	--gray-1: #282828;
	--gray-2: #484848;
	--gray-3: #686868;
	--gray-4: #939393;
	--gray-5: #bebebe;
	--gray-6: #f0f0e6;
	--gray-7: #f4f4ed;
	--gray-8: #f8f8f3;
	--gray-9: #fbfbf7;

	--iceberg: #cff2f2;

	--indigo-30: #bbb6d6;
	--indigo-50: #9185ba;
	--indigo-70: #66559e;
	--indigo-100: #240c75;
	--indigo-120: #292046;

	--jade-30: #b6e3da;
	--jade-50: #85cfc1;
	--jade-70: #54bda8;
	--jade-100: #0ba083;
	--jade-120: #21806d;

	--light-cool-gray: #dbd9da;
	--light-warm-gray: #e9e1d8;

	--melon-30: #ffe3e3;
	--melon-50: #ffd1d0;
	--melon-70: #ffbfbd;
	--melon-100: #ffa3a1;

	--pippin: #ffebeb;

	--turquoise-30: #cdf2f2;
	--turquoise-50: #abe8e8;
	--turquoise-70: #89dfdf;
	--turquoise-100: #57d2d2;

	--color-primary: var(--flame-100);
	--color-primary-foreground: var(--white);
	--color-secondary: #fff1e5;
	--color-secondary-foreground: var(--color-primary);
}
